.reviewItem {
    width: 30%;
    height: auto;
    padding: clamp(1.188rem, 2.5vw, 2rem) clamp(1.813rem, 2.5vw, 2rem) clamp(0.813rem, 2.5vw, 1.5rem) 0rem;
    border-top: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: clamp(0.7rem, 2.5vw, 1rem);

    .reviewParagraph {
        font-size: clamp(0.7rem, 2.5vw, 1rem);
        color: var(--color-black);
        font-family: var(--font-type);
        font-style: normal;
        font-weight: var(--font-weight-4);
        line-height: normal;
    }

    .reviewUser {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: clamp(0.5rem, 2.5vw, 0.8rem);

        .userAvatar {
            width: clamp(2rem, 2.5vw, 3rem);
            height: auto;
        }

        .userInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.5rem;

            .userName {
                font-size: clamp(0.8rem, 2.5vw, 1rem);
                color: var(--color-black);
                font-family: var(--font-type);
                font-style: normal;
                font-weight: var(--font-weight-3);
                line-height: normal;
                text-transform: uppercase;
            }

            .userRate {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                font-size: clamp(0.6rem, 2.5vw, 1rem);
                color: var(--color-black);
                font-family: var(--font-type);
                font-style: normal;
                font-weight: var(--font-weight-4);
                line-height: normal;

                .rateIcon {
                    width: clamp(0.6rem, 2.5vw, 1rem);
                    height: auto;
                    color: var(--color-primary);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .reviewItem {
        width: 100%;
        padding: 1.188rem 1.813rem 0.813rem 0rem;
        gap: 0.7rem;
    
        .reviewParagraph {
            font-size: 0.7rem;
        }
    
        .reviewUser {
            gap: 0.5rem;
    
            .userAvatar {
                width: 2rem;
                height: auto;
            }
    
            .userInfo {
                .userName {
                    font-size: 0.8rem;
                }
    
                .userRate {
                    font-size: 0.6rem;
    
                    .rateIcon {
                        width: 0.6rem;
                    }
                }
            }
        }
    } 
}